@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Nunito', sans-serif;
    color: white;
}

:root {
    --green: #03C988;
    --green2: #04ad75;
}

body {
    background-color: var(--green);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.479);
}

header .icon-or-title {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    margin: 5px 15px;
    padding: 5px;
    gap: 5px;
}

header .icon-or-title h1 {
    height: 100%;
    font-size: 32px;
    font-weight: bold;
}

header .icon-or-title img {
    height: 35px;
    width: 35px;
    fill: white;
}

header nav,
ul{
    height: 100%;
    width: auto;
    list-style: none;
    margin: 10px;
}

header nav ul li .aContact {
    text-decoration: none;
    padding: 5px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    transition: 150ms ease-in-out;
}

header nav ul li .aContact:hover {
    color: black;
    background-color: #fafafa;
}

/* Tentar refatorar o codigo; E o html */

/* main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
}

.time .timeDisplay img {
    height: 60px;
    width: 60px;
}

.time .timeDisplay {
    height: 100%;
    width: 100%;
}

.time .timeDisplay .disMin {
    font-size: 10em;
}

.time .timeDisplay .disSec {
    font-size: 5em;
}

.timeButtons {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}

.buttonsTimeSet {
    display: flex;
}


.timeButtons button {
    border: none;
    padding: 10px;
    font-size: 22px;
    background: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

#buttonStart {
    border-radius: 100%;
    padding: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

#buttonStart img {
    height: 40px;
    width: 40px;
}

.timeButtons button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;
}

.timeButtons button strong {
    color: rgba(255, 255, 255, 0.726)
} */