@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    color: white;
}

:root {
    --green: #03c988;
    --green2: #04ad75;
    --bg-config: #ffffff2f;
    --color-purple: rgb(141, 99, 255);
    --color-red: rgb(255, 55, 55);
    --color-orange: rgb(255, 174, 99);
    --color-green-default: var(--green);
    --color-dark: rgba(0, 0, 0, 0.89);
}

body {
    background-color: var(--color-green-default);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.479);
}

header .icon-or-title {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    margin: 5px 15px;
    padding: 5px;
    gap: 5px;
}

header .icon-or-title h1 {
    height: 100%;
    font-size: 32px;
    font-weight: bold;
}

header .icon-or-title img {
    height: 35px;
    width: 35px;
    fill: white;
}

header nav,
ul {
    height: 100%;
    width: auto;
    list-style: none;
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

header nav ul li .aContact {
    text-decoration: none;
    padding: 5px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    transition: 150ms ease-in-out;
}

header nav ul li .aContact:hover {
    color: black;
    background-color: #fafafa;
}

header nav ul li .btn-config {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

header nav ul li .btn-config img {
    width: 30px;
    height: 30px;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time {
    margin-top: 5rem;
}

.time .timeDisplay img {
    height: 60px;
    width: 60px;
}

.time .timeDisplay {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time .timeDisplay .disMin,
.disSec {
    font-size: 10em;
}

.timeButtons {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}

.buttonsTimeSet {
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 20px;
}

.timeButtons button {
    border: none;
    padding: 10px;
    font-size: 22px;
    background: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

#buttonStart,
#buttonPause {
    border-radius: 100%;
    padding: 30px;
    display: flex;
    margin: 0;
}

#buttonStart:active,
#buttonPause:active {
    background: #04ad7581;
}
#buttonStart img,
#buttonPause img {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonPause {
    display: none;
}

.timeButtons button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;
}

.timeButtons button strong {
    color: rgba(255, 255, 255, 0.726);
}

.config-container {
    display: none;
    height: 100%;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-back {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: auto;
    margin: 40px;
    gap: 10px;
}

.btn-back a {
    display: flex;
    align-items: center;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.473) 0px 7px 29px 0px;
    border-radius: 100%;
    cursor: pointer;
}

.btn-back a img {
    height: 40px;
    width: 40px;
}

.btn-back span {
    font-size: 1rem;
}

.config-container .config-title {
    font-size: 18px;
    margin-bottom: 25px;
}

.config-container .bg-config {
    display: flex;
    height: 100%;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bg-config .bg-config-color {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-config);
    padding: 20px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    gap: 1rem;
    margin: 20px;
}

.config-container .bg-config-color-title {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

.config-container .bg-config-color-title img {
    height: 30px;
    width: 30px;
}

.config-container .bg-config-color-title h3 {
    font-size: 23px;
}

.config-container .bg-config-colors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.config-container .bg-config-color button {
    padding: 30px;
    border-radius: 10px;
    border: none;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.btn-bg-default {
    background-color: var(--color-green-default);
}
.btn-bg-red {
    background-color: var(--color-red);
}
.btn-bg-purple {
    background-color: var(--color-purple);
}
.btn-bg-dark {
    background-color: var(--color-dark);
}
.btn-bg-orange {
    background-color: var(--color-orange);
}

.bg-config-color button:hover {
    box-shadow: rgba(100, 100, 111, 0.473) 0px 7px 29px 0px;
}

.config-container .config-song {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-config);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    transition: ease-in-out;
}


.config-container .config-song .config-song-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.config-container .config-song .config-song-title h3 {
    font-size: 23px;
}

.config-container .config-song .config-song-title img {
    width: 30px;
    height: 30px;
}

.config-container .config-song ul {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
}

.config-container .config-song ul li {
    width: 100%;
    height: auto;
    margin: 10px;
}

.config-container .config-song ul li div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    gap: 10px;
    box-shadow: rgba(100, 100, 111, 0.11) 0px 7px 29px 0px;
    padding: 10px;
    transition: 200ms ease-in-out;
}

.config-container .config-song ul li div:hover {
    box-shadow: rgba(100, 100, 111, 0.377) 0px 7px 29px 0px;
}

.config-container .config-song ul li .btns-play {
    display: flex;
    justify-content: center;
    box-shadow: none;
    border-radius: 30px;
}

.config-container .config-song ul li div img {
    width: 20px;
    height: 20px;
}

.config-container .config-song ul li div p {
    font-size: 18px;
}

.config-container .config-song ul li div button {
    border-radius: 100%;
    border: none;
    padding: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    background: none;
    cursor: pointer;
    transition: 200ms ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.479) 0px 7px 29px 0px;
}

.config-container .config-song ul li div button:active {
    box-shadow: rgba(100, 100, 111, 0.041) 0px 7px 29px 0px;
}

.config-container .config-song ul li div button img {
    display: flex;
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
}